extends layout

block content
    .w3-top.w3-hide-small
      ul#myNavbar.w3-navbar.w3-xlarge.w3-black.w3-opacity.w3-hover-opacity-off
        li
          a(href='/home') HOME
        li
          a(href='/restaurants') RESTAURANTS
        li
          a(href='/restaurants/create') ADD A RESTAURANT
        .w3-display-right
          if (user)
              li
                h3 Welcome to our webapp, 
                  strong #{user.username}!        
              li
                a(href="/auth/logout")  Logout
          else
              li
                a(href='/auth/login') LOGIN
              li
                a(href='/auth/register') REGISTER
    .w3-container.w3-padding-64.w3-blue-grey.w3-xlarge
      .w3-content
        a(href='https://www.zomato.com/manila/top-restaurants')
            img.w3-circle.w3-right(src='https://b.zmtcdn.com/images/logo/zomato_logo.svg', style='width:150px', alt='Zomato')
        h1.w3-center.w3-jumbo(style='margin-bottom:64px') Add a Restaurant

        p Add here the restaurant that that is one of the most popular restaurant in Manila accordng to    
          b Zomato
          | . You can check on their website by clicking the logo to know more about them and their list of restaurants
        p
          span.w3-tag FYI!
          |  The restaurants you submit here will be addded to our list of Top Restaurants in Manila. Please do not submit unnecessary informations that could ruin the website.

        p.w3-xxlarge
          strong Fill Up
          |  this form here to add one top restaurant!
        if (error)
          strong.w3-text-red.w3-jumbo #{error}
        form(method='POST', action='/restaurants/create')
          p  
            | Name
            strong.w3-text-red *
            | :
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Name", name='name')
          p  
            | Address
            strong.w3-text-red *
            | :
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Address", name='address')
          p  Description:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Description", name='description')
          p  Cuisine:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Cuisine", name='cuisine')
          p  Google Map Link:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Google Map Link of the Restaurant", name='maplink')
          p  Contact:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Contact Number", name='contact')
          p  Zomato Link:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Zomato Link", name='zomato')
          p  Photo:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Photo", name='photo')
          p  Photo Links:
            input.w3-input.w3-padding-16.w3-border(type='text', placeholder="Restaurant's Photos Link", name='photoslink')
          
          p
            button.w3-btn-block.w3-padding(type='submit') Add to Top Restaurants
    
    footer.w3-center.w3-black.w3-padding-48.w3-xxlarge
      a(href='https://github.com/deasisjohnelijah/coen3463-m3t12')
        i.fa.fa-github.w3-hover-text-yellow
      i.fa.fa-facebook-official.w3-hover-text-indigo
      i.fa.fa-instagram.w3-hover-text-purple
      i.fa.fa-pinterest-p.w3-hover-text-red
      i.fa.fa-twitter.w3-hover-text-light-blue
      i.fa.fa-linkedin.w3-hover-text-indigo
      p 
        h6
          span.w3-xlarge © 2017 COEN 3463 Team 12