doctype html
html
  head
    title= "Top Manila Restaurants"
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      body, html {height: 100%}
      body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
      .w3-tag, .fa {cursor:pointer}
      .menu {display: none}
      .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://b.zmtcdn.com/data/collections/fb2aef13f628d84ef7602b7750558112_1468483988.jpg"); 
        min-height: 90%;
        max-width:100%;
      .mySlides {display:none}
      }
  body
    block content
